body{
    margin:auto;
    position: relative;
    background-color: rgb(73, 0, 73);
}
.source{
    position: fixed;
    top:17%;
    left:20%;
    float: left;
}
.buttons{
    margin-top: 50px;
    position: absolute;
    left:27%;
}
.btn{
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(123, 123, 238);
    border: none;
    border-radius: 15px;
    width: 100px;
    margin: 0 auto;
}
.btn:hover {background-color: #47cddf}
.btn:active {
    background-color: #327041;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }